
.btn-info {
    background-color: red !important;
    background: red !important;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.btn-info:hover { 
    background-color: rgb(93, 234, 90) !important; 
    background: rgb(105, 24, 226) !important;
}

.w-100{
    width: 100% !important;
}